---
import Section from "@/components/Section.astro";

import {skills} from '@cvEn'
---

<Section title="Abilities">
    <ul>
        {
            skills.map( ({name}) => (
                <li>
                    <span>{name}</span>
                </li>
            ))
        }
    </ul>
</Section>

<style>
    ul {
        display: inline-flex;
        gap: 8px;
        list-style: none;
        flex-wrap: wrap;
    }

    li {
        border-radius: 6px;
        background:rgb(88, 88, 88);
        color: #eee;
        font-size: .8rem;
        font-weight: 500;
        padding: 0.2rem 0.6rem;
    }

</style>

